<ion-content [fullscreen]="true" [scrollY]="false" [scrollX]="false">
  <div class="leaflet" leaflet
    [leafletOptions]="leafletOptions"
    (leafletMapReady)="onMapReady($event)">
  </div>
  <ion-card class="coord-info">
    <ion-card-header>
      <ion-card-title>Position (Editable)</ion-card-title>  
    </ion-card-header>
    <ion-card-content>
      <ion-input type="number" [(ngModel)]="tempLatitude" label="Latitude"></ion-input>
      <ion-input type="number" [(ngModel)]="tempLongitude" label="longitude"></ion-input>
      <div class="buttons">
        <ion-button color="warning" (click)="resetZoom()"><ion-icon name="close-outline"></ion-icon>&nbsp;Reset View</ion-button>
        <ion-button color="success" (click)="jump()"><ion-icon name="airplane-outline"></ion-icon>&nbsp;Jump</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-label (click)="loadLocations()" class="import-btn"><ion-icon name="folder-open"></ion-icon>Import Locations</ion-label>
  <ion-icon name="settings-outline" class="setting-btn" [ngClass]="showSettings?'hidden':'shown'" (click)="toggleSettings()"></ion-icon>
  <ion-card class="settings" [ngClass]="showSettings?'shown':'hidden'">
    <ion-card-content>
      <ion-label class="settings-section-label">App Setting:</ion-label>
      <ion-input label="Appium ID" [(ngModel)]="tempSettings.appiumId" label-placement="floating"></ion-input>
      <ion-input label="ADB Interval (ms)" [(ngModel)]="tempSettings.adbInterval" type="number" label-placement="floating"></ion-input>
      <ion-input label="API Url" [(ngModel)]="tempSettings.apiUrl" label-placement="floating"></ion-input>
      <div class="padding"></div>
      <ion-label class="settings-section-label">Movement Setting:</ion-label>
      <ion-input label="Offset for Keypress (WASD)" [(ngModel)]="tempSettings.offsetKeypress" type="number" label-placement="floating"></ion-input>
      <ion-checkbox label-placement="start" [(ngModel)]="tempSettings.offsetRandomize">Randomize Offset</ion-checkbox>
      <ion-select [interfaceOptions]="{'cssClass': 'dropdown'}" mode="ios" label="Click Movement Mode" [(ngModel)]="tempSettings.clickMovement" interface="popover" label-placement="floating">
        <ion-select-option value="direct">Move Directly</ion-select-option>
        <ion-select-option value="walk">Walk There</ion-select-option>
      </ion-select>
      <ion-input *ngIf="tempSettings.clickMovement=='walk'" label="Walk Interval (ms)" [(ngModel)]="tempSettings.moveInterval" type="number" label-placement="floating"></ion-input>
      <ion-input *ngIf="tempSettings.clickMovement=='walk'" label="Offset for Walk" [(ngModel)]="tempSettings.moveOffset" type="number" label-placement="floating"></ion-input>
      <ion-checkbox *ngIf="tempSettings.clickMovement=='walk'" label-placement="start" [(ngModel)]="tempSettings.moveOffsetRandomize">Randomize Offset</ion-checkbox>
      <div class="padding"></div>
      <ion-label class="settings-section-label">Default Location:</ion-label>
      <ion-input label="Latitude" [(ngModel)]="tempSettings.defaultLoc.lat" type="number" label-placement="floating"></ion-input>
      <ion-input label="Longitude" [(ngModel)]="tempSettings.defaultLoc.lng" type="number" label-placement="floating"></ion-input>
      <ion-input label="Altitude" [(ngModel)]="tempSettings.defaultLoc.alt" type="number" label-placement="floating"></ion-input>
      <div class="padding"></div>
      <div class="buttons">
        <ion-button color="danger" (click)="showSettings=false"><ion-icon name="close-outline"></ion-icon>&nbsp;Cancel</ion-button>
        <ion-button color="warning" (click)="saveSettings()"><ion-icon name="save-outline"></ion-icon>&nbsp;Save</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-icon name="logo-android" class="adb-btn" [ngClass]="[showAdbs?'hidden':'shown',selectedDevices.length>0?'green':'red']" (click)="toggleADBSettings()"></ion-icon>
  <ion-card class="adb-settings" [ngClass]="showAdbs?'shown':'hidden'">
    <ion-card-content>
      <div *ngIf="devices.length==0">
        <ion-label class="settings-section-label">No Device Detected</ion-label>
      </div>
      <div *ngIf="availableDevices.length>0">
        <ion-label class="settings-section-label">Available Devices:</ion-label>
        <div>
          <ion-checkbox *ngFor="let dev of availableDevices" [(ngModel)]="dev.selected" label-placement="start">{{dev.serial}}</ion-checkbox>
        </div>
        <div class="padding"></div>
      </div>
      <div *ngIf="unavailableDevices.length>0">
        <ion-label class="settings-section-label">Unavailable Devices:</ion-label>
        <div class="unavailable-list">
          <ion-label class="listed" *ngFor="let dev of unavailableDevices">{{dev.serial}} &nbsp; &nbsp; &nbsp; {{dev.status}}</ion-label>
        </div>
        <div class="padding"></div>
      </div>
      <div class="buttons">
        <ion-button color="danger" (click)="closeADBSettings()"><ion-icon name="close-outline"></ion-icon>&nbsp;Close</ion-button>
        <ion-button color="warning" (click)="getDevices()"><ion-icon name="refresh-outline"></ion-icon>&nbsp;Refresh</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>